body {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

body.desktop {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./no-compressed/desktop.jpg);
}
body.desktop.no-compressed {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./no-compressed/desktop.jpg);
}
body.desktop.compressed-1x {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./compressed-1x/desktop.jpg);
}

body.laptop {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./no-compressed/tablet.jpg);
}
body.laptop.no-compressed {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./no-compressed/tablet.jpg);
}
body.laptop.compressed-1x {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./compressed-1x/tablet.jpg);
}

body.tablet {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./no-compressed/tablet.jpg);
}
body.tablet.no-compressed {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./no-compressed/tablet.jpg);
}
body.tablet.compressed-1x {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./compressed-1x/tablet.jpg);
}

body.mobile {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./no-compressed/mobile.jpg);
}
body.mobile.no-compressed {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./no-compressed/mobile.jpg);
}
body.mobile.compressed-1x {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./compressed-1x/mobile.jpg);
}
